:root{
    --primary-color:#212121;
    --secondary-color:#757575;
    --accent-color: #2196F3;
    --logo-color:#000000;
    --white-color:#ffffff;
}

ul{
    list-style: none;
}

/* шапка сайту з навігацією*/

.logostudio{
    color: var(--logo-color);
}

.secondary-logo{
    color: var(--accent-color);
}

.site-nav{
    color: var(--primary-color);
}

.site-nav:hover,
.site-nav:focus{
    color: var(--accent-color);
}

.site-nav-current{
    color: var(--accent-color);
}

.auth-nav{
    color: var(--secondary-color);
}

.auth-nav:hover,
.auth-nav:focus{
    color: var(--accent-color);
}

/*Підвал*/

.footer {
    background-color: #2F303A;
}

.footer-studio {
    color: var(--accent-color);
}

.footer-logo {
    color: var(--white-color);
}

.address-street {
    color: var(--white-color);
}

.footer-nav {
    color: rgba(255, 255, 255, 0.6);
}

/*Сторінка Cтудія*/

/*Секція герой*/

.hero{
    background-color: #2F303A;
}

.hero-title{
    color: var(--white-color);
}

/*Button*/

.button{
    background-color: var(--accent-color);
    color: var(--white-color);
}

/*Секція особливості*/

.features{
    background-color: var(--white-color);
}

.features-title{
    color: var(--primary-color);
}

.features-subtitle{
    color: var(--primary-color);
}

.features-text{
    color: var(--secondary-color);
}

/*Секція чим займаємось*/

.occupation{
    background-color: var(--white-color);
}

.occupation-title{
    color: var(--primary-color);
}

/*Секція наша команда*/

.team{
    background-color: #F5F4FA;
}

.team-title {
    color: var(--primary-color);
}

.team-subtitle{
    color: var(--primary-color);
}

.team-text{
    color: var(--secondary-color);
}

/*Сторінка Портфоліо*/

.main-portfolio {
    background-color: #ffffff;
}

.project-title {
    color: #212121;
}

.project-text {
    color: #757575;
}